
.topic-row {
    /* border: 2px solid black; */
  margin-top: 2em;
  display: flex;
}

.topic-content {
  word-wrap: break-word;
} 

#input-search {
  margin-right: .5em;
}

.container-create {
  padding-top: 3em;
  width: 100%;
}

.container-answer-update {
  width: 100%;
}

.container-answer {
  border-bottom: 1px solid #000;
  padding-top: 2em;
  width: 100%;
}

.container-footer {
  margin-top: 5em;
}

.btn-create, .btn-create:hover {
  text-decoration: none;
}

.col-message {
  margin-top: 1em;
  padding: .5em;
}