.container-create {
  padding-top: 3em;
  width: 100%;
}

.container-answer-update {
  width: 60%;
}

.container-answer {
  border-bottom: 1px solid #000;
  padding-top: 2em;
  width: 100%;
}

.container-footer {
  margin-top: 5em;
}

.btn-create, .btn-create:hover {
  text-decoration: none;
}

.col-message {
  margin-top: 1em;
  padding: .5em;
}